// Place all the styles related to the api/v1/Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mt-25 {
  margin-top: 25px;
}

.mt-5 {
  margin-top: 5px;
}

.ml-25 {
  margin-left: 25px;
}

.pl-25 {
  padding-left: 25px;
}
.pb-15 {
  padding-bottom: 15px;
}
.bb-grey {
  border-bottom: 1px solid #c4cdd5;
}