// Place all the styles related to the api/v1/templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text-center {
  text-align: center;
}

.select-type {
  width: 100%;
  height: 35px;
  margin-top: 4px;
  font-size: 14px;
}

.Polaris-ResourceList-Item--persistActions {
  .Polaris-ResourceList-Item__Actions {
    height: 6rem;
  }
}

.Polaris-ResourceList-Item {
  cursor: default;
}

.align-right {
  text-align: right;
}

.icon-border {
  border: 1px solid red;
  padding: 10px;
}

.attribute-item {
  display: flex;
  flex-wrap: wrap;
  .Polaris-TextField {
    width: 50%;
  }
}
.attribute-item-header {
  font-weight: 700;
}
.option-item {
  flex: 1 1 22rem;
  flex-basis: 11rem;
  min-width: 11rem;

  &:first-child {
    flex: 1 1 25rem;
  }
}
.attribute-action-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  .attribute-action {
    padding: 1rem;
  }
}

.exclusion-list {
  .Polaris-List {
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    .Polaris-List__Item {
      list-style: none;
      width: 33%;
      justify-content: space-around;
    }
  }
}

.group-card {
  position: relative;
  .group-tobble-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }
}
.store-list {
  .Polaris-Button {
    margin-top: 3px;
  }
}
@media all and (max-width: 800px) {
  .attribute-action-list {
    justify-content: space-around;
  }
}