// Place all the styles related to the api/v1/templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text-center {
  text-align: center;
}

.select-type {
  width: 100%;
  height: 35px;
  margin-top: 4px;
  font-size: 14px;
}

.Polaris-ResourceList-Item--persistActions {
  .Polaris-ResourceList-Item__Actions {
    height: 6rem;
  }
}

.Polaris-ResourceList-Item {
  cursor: default;
}